.menu {
	width: 100px;
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	background-color: white;
	border: 1px solid pink;
	top: 44px;
	left: 10px;
	padding: 5px 10px;
	height: calc(100% - 54px);
	border-radius: 0 0 0 4px;
	box-sizing: border-box;
	overflow: auto;
}

.list {
	font-size: 24px;
}

.group {
	margin-left: 10px;

	&.highlight {
		color: pink;
	}
}