.word-wrapper {
	margin: 5px;
	line-height: 20px;
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px dashed pink;
	padding: 5px 0;

	.left-wrapper {
		flex: 1;
	}

	.right-wrapper {
		width: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.answer {
		display: inline-block;

		&.hidden {
			color: pink;
		}

		&.show {
			color: purple;
		}
	}

	.meaning {
		display: inline-block;
		margin: 0 10px;

		&.hidden {
			color: pink;
		}

		&.show {
			color: purple;
		}
	}
}