.word-wrapper {
	margin: 5px;
	display: flex;
	flex-flow: column nowrap;
	border-bottom: 1px dashed pink;
	padding: 5px 0;

	.top-wrapper {
		.answer {
			&.hidden {
				color: pink;
			}

			&.show {
				color: purple;
			}
		}
	}

	.bottom-wrapper {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 6px;
		height: 20px;

		.meaning {
			&.hidden {
				color: pink;
			}

			&.show {
				color: purple;
			}
		}

		.phonogram {
			&.hidden {
				color: pink;
			}

			&.show {
				color: purple;
			}
		}
	}
}