.menu-wrapper {
	width: calc(100% - 20px);
	height: calc(100% - 54px);
	position: absolute;
	top: 44px;
	left: 10px;
	display: flex;
	flex-flow: row nowrap;

	.menu {
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		background-color: white;
		border: 1px solid pink;
		padding: 5px 10px;
		border-radius: 0 0 0 4px;
		box-sizing: border-box;
		overflow: auto;

		.list {
			font-size: 24px;
		}

		.group {
			margin-left: 10px;
		}

		.highlight {
			color: pink;
		}
	}

	.background-wrapper {
		flex: 1;
	}
}